.die {
  width: 75px;
  height: 75px;
  border: 1px solid black;
  background: lavenderblush;
  display: flex;
  justify-content:center;
  align-items:center;
}

.bg-number {
  font-size: 2em
}

.die .die-body {
  text-align:center;
}

.dice-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.nat-20 {
    background: #ABDF75;
}

.nat-1 {
    background: #E5625E;
}